# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/
uploads/

# env files
.env
.env.local

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
