{% extends 'base.html' %}
{% block title %}Parola Sıfırlandı - Syncra CRM{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-4">
            <div class="card-body">
                <h4>Parolanız başarıyla sıfırlandı</h4>
                <p>Yeni parolanız ile giriş yapabilirsiniz.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Giriş Yap</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
