{% extends "base.html" %}
{% block content %}
<h1>Yeni Kullanıcı Ekle</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label>Kullanıcı Adı</label>
    <input class="form-control" name="username" />
  </div>
  <div class="form-group">
    <label>E-Posta</label>
    <input class="form-control" name="email" />
  </div>
  <div class="form-group">
    <label>Ad</label>
    <input class="form-control" name="first_name" />
  </div>
  <div class="form-group">
    <label>Soyad</label>
    <input class="form-control" name="last_name" />
  </div>
  <button class="btn btn-primary" type="submit">Oluştur</button>
</form>
{% endblock %}
