<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>Ayarlar</h5>
        <hr>
        <div class="form-group">
            <label>Gece Modu</label>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkModeToggle">
                <label class="custom-control-label" for="darkModeToggle">Etkin</label>
            </div>
        </div>
        <p class="small">Burada kullanıcı ayarları, hızlı linkler ve tema opsiyonları gösterilebilir.</p>
    </div>
</aside>
