{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}Syncra CRM{% endblock %}

{# Inject local vendor CSS used by our templates (icons, overlayscrollbars) #}
{% block extra_css %}
    {# Fallback favicon (SVG) served from static #}
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
    {# Ensure FontAwesome (used by many AdminLTE examples) is available #}
    <link rel="stylesheet" href="{% static 'admin-lte/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/overlayscrollbars/overlayscrollbars.min.css' %}">
    {{ block.super }}
{% endblock %}

{# Provide necessary JS hooks; adminlte/base.html will include its core scripts, we add local vendors #}
{% block extra_js %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/overlayscrollbars/overlayscrollbars.browser.es6.min.js' %}"></script>
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    {# AdminLTE plugin JS (select2, bs-custom-file-input, inputmask, colorpicker, duallistbox, bootstrap-switch) #}
    <script src="{% static 'admin-lte/plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    {{ block.super }}
    <script>
        (function(){
            // initialize common plugins used by form demos
            if (window.bsCustomFileInput) {
                try { bsCustomFileInput.init(); } catch(e) {}
            }
            try { $('.select2').select2(); } catch(e) {}
            try { $("[data-mask]").inputmask(); } catch(e) {}
            try { $('.duallistbox').bootstrapDualListbox(); } catch(e) {}
            try { $(".colorpicker").each(function(){ $(this).colorpicker(); }); } catch(e) {}
            try { $(".datetimepicker").datetimepicker(); } catch(e) {}
            try { $("input[data-bootstrap-switch]").each(function(){ $(this).bootstrapSwitch('state', $(this).prop('checked')) }); } catch(e) {}
        })();
    </script>
{% endblock %}

{# Child templates should still implement a `content` block as before. #}
