{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}Syncra CRM{% endblock %}

{# Inject local vendor CSS used by our templates (icons, overlayscrollbars) #}
{% block extra_css %}
    {# Fallback favicon (SVG) served from static #}
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
    {# Ensure FontAwesome (used by many AdminLTE examples) is available #}
    <link rel="stylesheet" href="{% static 'admin-lte/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/overlayscrollbars/overlayscrollbars.min.css' %}">
    {{ block.super }}
{% endblock %}

{# Provide necessary JS hooks; adminlte/base.html will include its core scripts, we add local vendors #}
{% block extra_js %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/overlayscrollbars/overlayscrollbars.browser.es6.min.js' %}"></script>
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    {{ block.super }}
{% endblock %}

{# Child templates should still implement a `content` block as before. #}
