{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Syncra CRM{% endblock %}</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/overlayscrollbars/overlayscrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/adminlte/adminlte.min.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    {% include 'includes/navbar.html' %}
    {% include 'includes/sidebar.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid pt-3">
                {% block content %}{% endblock %}
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% include 'includes/footer.html' %}

</div>

<!-- Vendor JS -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/overlayscrollbars/overlayscrollbars.browser.es6.min.js' %}"></script>
<script src="{% static 'vendor/adminlte/adminlte.min.js' %}"></script>

{% block extra_js %}{% endblock %}
</body>
</html>
