{% extends 'base.html' %}
{% block title %}Panel - Syncra CRM{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>150</h3>
                <p>Yeni Kayıtlar</p>
            </div>
            <div class="icon">
                <i class="bi bi-people"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>53</h3>
                <p>Aktif Siparişler</p>
            </div>
            <div class="icon">
                <i class="bi bi-basket3"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}
