{% extends 'base.html' %}
{% block title %}Panel - Syncra CRM{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-6">
            <div class="small-box bg-info shadow-sm">
                <div class="inner">
                    <h3 class="mb-1">150</h3>
                    <p class="mb-0">Yeni Kayıtlar</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="#" class="small-box-footer">Detaylar <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-6">
            <div class="small-box bg-success shadow-sm">
                <div class="inner">
                    <h3 class="mb-1">53</h3>
                    <p class="mb-0">Aktif Siparişler</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-basket"></i>
                </div>
                <a href="#" class="small-box-footer">Detaylar <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
