{% extends 'base.html' %}
{% block title %}Ana Sayfa - Syncra CRM{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Hoşgeldiniz</h3>
            </div>
            <div class="card-body">
                <p>Syncra CRM geliştirme sunucusuna hoşgeldiniz. Bu temel şablon AdminLTE vendor dosyalarını yerel `static/vendor` klasöründen yükler.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
